<div class="max-w-sm px-4 py-2">
    <div class="mt-4 px-4">
        <h1 class="text-2xl text-center">
            Network switch required
        </h1>
    </div>

    <div class="px-4 mt-4 text-center text-sm">
        <p>
            <ng-container *ngIf="(currentNetwork$ | async) as currentNetwork">
                You are currently connected to network
                <span class="font-semibold">
                    {{ currentNetwork.name ?? '' }}
                </span>
                <span class="bg-gray-200 px-1 py-0.5 text-xs rounded-full">
                    {{ currentNetwork.chainID }}</span>.
            </ng-container>
            If you want to proceed, switch the network to
            <ng-container *ngIf="(requestedNetwork$ | async) as requestedNetwork">
                <span class="font-semibold">
                    {{ requestedNetwork.name }}
                </span>
                <span class="bg-gray-200 px-1 py-0.5 text-xs rounded-full">
                    {{ requestedNetwork.chainID }}</span>
            </ng-container>
            .
        </p>
    </div>

    <div class="flex flex-col space-y-2 mt-4
              sm:flex-row sm:space-x-4 sm:space-y-0 justify-center">
        <button [appAsyncAction]="logout$"
                text="Log out" textLoading="Logging out..."
                class="btn flex-1">
        </button>

        <ng-container *ngIf="requestedNetwork$ | async as requestedNetwork">
            <button *ngIf="isConnectedWithMetamask$ | async"
                    [appAsyncAction]="changeNetwork$(requestedNetwork.chainID)"
                    text="Switch network"
                    class="btn-light text-sm flex-1">
            </button>
        </ng-container>
    </div>
</div>

<ng-container *ngIf="dismissDialog$ | async"></ng-container>
