<div class="flex flex-col my-4 mx-4">
    <div class="w-full text-center text-2xl text-gray-700 font-medium mt-4 py-8">
        Connect wallet
    </div>

    <div class="flex flex-col gap-2" *ngIf="wallets$ | async as wallets">
        <div *ngFor="let wallet of wallets">
            <button [appAsyncAction]="connect$(wallet)"
                    class="btn-light w-full">
                <ng-template appAsyncActionReady>
                    <div class="flex gap-2 justify-center items-center">
                        <img class="w-5 h-5" src="{{ wallet.info.icon }}" alt="Wallet icon">
                        <span class="text-lg">
                            {{ wallet.info.name }}
                        </span>
                    </div>
                </ng-template>

                <ng-template appAsyncActionLoading>
                    ...
                </ng-template>
            </button>
        </div>

        <button [appAsyncAction]="connectWalletConnect$"
                class="btn-light w-full">
            <ng-template appAsyncActionReady>
                <div class="flex gap-2 justify-center items-center">
                    <svg class="w-5 h-5" fill="none" height="332" viewBox="0 0 480 332" width="480"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="m126.613 93.9842c62.622-61.3123 164.152-61.3123 226.775 0l7.536 7.3788c3.131 3.066 3.131 8.036 0 11.102l-25.781 25.242c-1.566 1.533-4.104 1.533-5.67 0l-10.371-10.154c-43.687-42.7734-114.517-42.7734-158.204 0l-11.107 10.874c-1.565 1.533-4.103 1.533-5.669 0l-25.781-25.242c-3.132-3.066-3.132-8.036 0-11.102zm280.093 52.2038 22.946 22.465c3.131 3.066 3.131 8.036 0 11.102l-103.463 101.301c-3.131 3.065-8.208 3.065-11.339 0l-73.432-71.896c-.783-.767-2.052-.767-2.835 0l-73.43 71.896c-3.131 3.065-8.208 3.065-11.339 0l-103.4657-101.302c-3.1311-3.066-3.1311-8.036 0-11.102l22.9456-22.466c3.1311-3.065 8.2077-3.065 11.3388 0l73.4333 71.897c.782.767 2.051.767 2.834 0l73.429-71.897c3.131-3.065 8.208-3.065 11.339 0l73.433 71.897c.783.767 2.052.767 2.835 0l73.431-71.895c3.132-3.066 8.208-3.066 11.339 0z"
                              fill="#3396ff"/>
                    </svg>
                    <span class="text-lg">
                        WalletConnect
                    </span>
                </div>
            </ng-template>

            <ng-template appAsyncActionLoading>
                ...
            </ng-template>
        </button>

        <div *ngIf="wallets.length === 0">
            <button *ngIf="injectedWeb3$ | async; else noInjectedWeb3"
                    [appAsyncAction]="connectInjectedWeb3$"
                    class="btn-light w-full">
                <ng-template appAsyncActionReady>
                    Injected Provider
                </ng-template>

                <ng-template appAsyncActionLoading>
                    ...
                </ng-template>
            </button>
            <ng-template #noInjectedWeb3>
                <p class="text-center text-sm">
                    No wallets found in the browser
                </p>
            </ng-template>
        </div>
    </div>
</div>
