<div class="flex flex-col my-4 mx-4">
    <div class="w-full text-center text-2xl text-gray-700 font-medium mt-4 py-8">
        Connect wallet
    </div>

    <div class="flex flex-col gap-2" *ngIf="wallets$ | async as wallets">
        <div *ngFor="let wallet of wallets">
            <button [appAsyncAction]="connect$(wallet)"
                    class="btn-light w-full">
                <ng-template appAsyncActionReady>
                    <div class="flex gap-2 justify-center items-center">
                        <img class="w-5 h-5" src="{{ wallet.info.icon }}">
                        <span class="text-lg">
                            {{ wallet.info.name }}
                        </span>
                    </div>
                </ng-template>

                <ng-template appAsyncActionLoading>
                    ...
                </ng-template>
            </button>
        </div>

        <div *ngIf="wallets.length === 0">
            <p class="text-center text-sm">
                No wallets found in the browser
            </p>
        </div>
    </div>
</div>
